<section class="hero-banner">
  <div class="wrapper">
    <div class="gradient-black">
      <div class="hero-message">
        <div class="hero-message-container">
          <h1><span>Samfy</span> ya está aquí ✨</h1>
          <h4>Vive tus mejores experiencias.</h4>
          <button class="btn btn-primary" (click)="redirectTo('/newplaylist')">Quiero crear mi playlist <i class="bi-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger animated fadeIn">
  <h3>Error</h3>
  <p>{{mensajeError}}</p>
</div>
<app-usuario></app-usuario>
<div class="card-container-new-releases">
  <app-my-playlist></app-my-playlist>

</div>
