<div class="container">
  <div class="align-self-top">
    <button routerLink="/search" class="btn btn-outline-danger">
    Atrás
</button>
</div>
    <app-loading *ngIf="loadingArtist"></app-loading>
    <div *ngIf="!loadingArtist" class="row animated fadeIn pt-5">
        <div class="cont-artista">
                <img [src]="artista.images | noimage" class="artist-banner-image">
          <div class="info">
            <h1>{{artista.name}}</h1>
            <span class="follower-count">{{artista.followers.total | number}} seguidores</span>
            <p>
                <a [href]="artista.external_urls.spotify" target="_blank">
                Ve a la pagina del artista
            </a>
            </p>
          </div>
    </div>
  </div>
  <div class="row mt-5" *ngIf="!loadingArtist">
    <div class="col">
        <div class="table-responsive table-borderless text-white align-middle">
          <table class="table">
            <thead>
                <tr>
                    <th class="align-middle">Foto</th>
                    <th class="align-middle">Album</th>
                    <th class="align-middle">Canción</th>
                    <th class="align-middle">Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td class="align-middle"><img [src]="track.album.images | noimage" class="img-thumb"></td>
                    <td class="align-middle">{{track.album.name}}</td>
                    <td class="align-middle">{{track.name}}</td>
                    <td class="align-middle">
                        <iframe [src]="track.id | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
